:root {
    /* Dust Palette */
    --primary-color: #bf5a62;
    --secondary-color: #402c33;
    --tertiary-color: #B0A8B9;
    --quaternary-color: #8c7486;

    /* White Shades */
    --primary-light: #fff;
    --secondary-light: #f1f1f1;
    --tertiary-light: #e1e1e1;

    --border-radius: 0.3em;
    --spacing: 1em;
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page layout */

.wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    overflow: auto;
    grid-template-areas:
        "sidebar header header"
        "sidebar main main"
        "sidebar main main";
    grid-template-columns: minmax(300px, 1fr) 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    overflow: hidden;
}

.wrapper.active-sidebar {
    grid-template-columns: 100px 3fr 1fr;
}

#main {
    grid-area: main;
    background-color: var(--secondary-light);
    padding: var(--spacing);
    display: grid;
    grid-template-columns: 3fr minmax(300px, 1fr);
    grid-template-rows: 50px 1fr 50px minmax(250px, 1fr);
    gap: 1em;
    overflow: auto;
}

#header {
    grid-area: header;
    background-color: var(--primary-light);
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 0.25em 2em;
}

#sidebar {
    grid-area: sidebar;
    background-color: var(--primary-color);
    color: var(--primary-light);
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr;
    transition: width 0.2s ease-in-out;

}

#sidebar.active {
    justify-content: center;
    align-items: center;
}

#sidebar.active .menu {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0.5em;
    padding: var(--spacing);
}

/* sidebar */

.menu {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
    padding: var(--spacing); 
}

.dashboard-logo {
    justify-self: center;
    align-self: center;
}

.hidden {
    display: none;
}

#expand {
    font-size: 2rem;
    cursor: pointer;
}

#expand:hover {
    color: var(--secondary-color);
}

.menu-item a {
    padding: var(--spacing);
    font-size: 1.5rem;
    border-radius: var(--border-radius);
    display: flex;
    align-items: baseline;
    gap: 1.5em;
    text-decoration: none;
    color: var(--primary-light);
    transition: background-color 0.2s ease-in-out;
}

.menu-item a:hover {
    background-color: var(--secondary-color);
}

.menu-item a.active {
    background-color: var(--secondary-color);
}

/* ====== header ====== */

.search-group {
    grid-column: 1;
    grid-row: 1;
    padding: var(--spacing);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.search-group input {
    padding: 0.7em;
    border-radius: 1em;
    background-color: var(--secondary-light);
    border: none;
    outline: none;
    color: var(--secondary-color);
    flex-grow: 1;
    font-size: 1.2rem;
    flex-shrink: 3;
}

.user-group {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
}

.user-group > i {
    font-size: 2rem;
}

.pfp {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    justify-self: center;
}

.pfp.medium {
    height: 50px;
    width: 50px;
}

.pfp.large {
    width: clamp(50px, 15vw, 150px);
    height: clamp(50px, 15vw, 150px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.pfp.dustin {
    background-image: url(../assets/wooodie.png);
}

.pfp.frog {
    background-image: url(../assets/fg.png);
}

.pfp.duck {
    background-image: url(../assets/backpack.png);
}

.pfp.cat {
    background-image: url(../assets/uncool.png);
}

.pfp.dino {
    background-image: url(../assets/trex.png);
}

.user-name {
    grid-column: 3;
    grid-row: 1;
    justify-self: start;
    font-size: 1.25rem;
}

.welcome-group {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    gap: 1em;
}

.welcome-group .pfp {
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: start;
}

.welcome-group  .message {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    font-size: clamp(0.25rem, 1vw, 3rem);
}

.welcome-group .user-name {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    font-size: clamp(0.25rem, 2.25vw, 3rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons-group {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    place-content: center;
}

.button {
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--primary-light);
    font-size: 1.25rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:hover {
    background-color: var(--secondary-color);
}

.button:active {
    background-color: var(--quaternary-color);
}

/* ====== main ====== */

.title {
    font-size: 1.5rem;
}

.title.projects {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

.title.anouncements {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
}

.title.trending {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
}

.projects-container {
    grid-column: 1;
    grid-row: 2 / span 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    overflow: auto;
}

.projects-container .card {
    background-color: var(--primary-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    padding: var(--spacing);
    border-left: 0.5em solid var(--quaternary-color);
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.project-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.project-footer {
    align-self: end;
    display: flex;
    justify-content: baseline;
    gap: 1em;
    margin-top: auto;
    font-size: 1.5rem;
}

.favorite,
.bookmark,
.like {
    color: var(--secondary-color);
    cursor: pointer;
}

.favorite:hover,
.bookmark:hover,
.like:hover {
    color: var(--quaternary-color);
}


.anouncements-container {
    background-color: var(--primary-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    padding: var(--spacing);
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.anouncements-item {
    border-bottom: 1px solid var(--tertiary-color);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.announcement-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.announcement-message {
    font-size: 0.85rem;
    color: var(--secondary-color);
}

.anouncements-container .anouncements-item:last-child {
    border-bottom: none;
}

.trending-container {
    background-color: var(--primary-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    padding: var(--spacing);
    grid-column: 2;
    grid-row: 4 / span 1;
    display: grid;
    grid-template-columns: 1fr;
}

.trending-user {
    display: flex;
    align-items: center;
    gap: 1em;
}

.user-bio {
    display: flex;
    flex-direction: column;
}

.user-info {
    color: gray;
}


/* media queries */

@media screen and (max-width: 768px) {

}