:root {

}

body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:
        "sidebar header header"
        "sidebar main main"
        "sidebar main main";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    
}

#main {
    grid-area: main;
    background-color: #ca4545;
    padding: 20px;
}

#header {
    grid-area: header;
    background-color: #3e70b7;
    padding: 20px;
}

#sidebar {
    grid-area: sidebar;
    background-color: #3d9032;
}

.menu {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
    padding: 0;    
}

.dashboard-logo {
    display: flex;
    padding: 1em;
    gap: 1em;
}

.menu-item a {
    padding: 1em;
    font-size: 1.2em;
    display: flex;
    gap: 1em;
    text-decoration: none;
}